body {
  background-color: #f9f9f9;
}

.timer {
  text-align: center;
  margin-top: 30px;
  font-size: 30pt;
}

.red {
  color: red;
}

.controls {
  text-align: center;
  margin-top: 30px;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.typeText {
  text-align: center;
  width: 60rem;
  margin: 0 auto;
  font-size: 14pt;
}

.textBox > textarea {
  margin: 2rem auto 0 auto;
  display: block;
  resize: none;
  overflow: auto;
  border-radius: 3px;
}

.gameover {
  text-align: center;
  font-size: 18pt;
}

.gameover > div:first-child {
  font-size: 30pt;
}

.bb {
  border-bottom: 1px solid gray;
  width: 10em;
  margin: 0 auto;
}